# УСТАНОВКА КОДИРОВКИ СЕРВЕРОМ
AddDefaultCharset utf-8
#_____________________________

# СКРЫВАЕМ ПАПКИ ДЛЯ ПРОСМОТРА
Options  -indexes
#_____________________________

# ЗАДАТЬ ИМЕНА БЕЗ РАСШИРЕНИЙ ИСПОЛЬЗОВАТЬ АКУРАТНО
Options +MultiViews
#__________________________________________________

# ПЕРЕОПРЕДЕЛЕНИЕ ИНДЕКСНОГО(ГЛАВНОГО ФАИЛА)
#DirectoryIndex php.php
#___________________________________________

# ИЗМЕНЕНИЕ СТРАНИЦЫ ЛИСТИНГА ФАЙЛОВ СТИЛИЗАЦИЯ
#IndexOptions FancyIndexing
#______________________________________________

# СКРЫТИЕ ФАЙЛОВ ИЛИТИПОВ ФАЙЛОВ_________
#IndexIgnore *.rar *.zip *.txt
# * - любые имена файлов или все значения
#________________________________________

# НАСТРОЙКА ЧТЕНИЯ КОДА php В ФАЙЛАХ ИНТЕРПРИТАТОРОМ
AddType /Applications/x-httpd-php .html .htm
#___________________________________________________


# УСТАНОВКА РЕДИРЕКТА НА ОСНАВНУЮ СТРАНИЦУ
#RewriteEngine on
#RewriteRule .* index.php [L]
#_________________________________________