/* ----------About---------- */
.main-header {
    position: relative;
    width: 100%;
    height: 354px;
    background: black url(../../img/jpg/about-img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.main-header:before {
    position: absolute;
    top: 0;
    content: "";
    width: 880px;
    height: 354px;
    background-color: rgba(0, 0, 0, 0.5);
}
.main-header__caption {
    position: absolute;
    margin: 0;
    left: 62px;
    top: 142px;
    font-family: "OpenSans-Bold";
    font-size: 49px;
    color: white;
}
.main-content {
    width: 700px;
    line-height: 29px;
    font-size: 18px;
}

.main-content__text {
    padding-top: 21px;
    width: 100%;
}
.main-content__text_bold {
    font-family: "OpenSans-Bold";
}

.main-content__list-item {
    margin-left: 32px;
    margin-top: 3px;
    padding-left: 10px;
    letter-spacing: 1px;
    list-style-type: none;
}

.main-content__list-item:before {
    position: relative;
    right: 30px;
    top: 15px;
    content: "";
    display: block;
    width: 3px;
    height: 3px;
    background: #191919;
}
/* ----------About close---------- */

/* ----------Addittional---------- */
.main-addittional {
    margin-top: 25px;
    width: 700px;
    background: #191919;
}
.main-addittional__text {
    margin-left: 30px;
    padding: 10px 0 10px 0;
    color: white;
    font-size: 18px;
    line-height: 30px;
}

.main-addittional__text_bold {
    font-family: "OpenSans-Bold";
}
/* ----------Addittional close---------- */

/* ----------Partners---------- */
.main-partners {
    margin-top: 56px;
    width: 700px;
}
.main-partners__caption {
    font-family: "OpenSans-Bold";
    font-size: 49px;
}
.main-partners__list {
    padding-bottom: 10px;
}
.main-partners__list-item {
    margin-left: 105px;
    display: inline-block;
    width: 160px;
    height: 100px;
    text-align: center;
}

.main-partners__list-link {
    display: inline-block;
}

.main-partners__list-item:nth-child(3n+1) {
    margin: 0;
}

.main-partners__list-img {
    vertical-align: middle;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 2s;
}
.main-partners__list-img:hover {
    transition: 2s;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
}
/* ----------Partners close---------- */