/* ----------Feed---------- */
.main-feed__caption {
    margin-top: 0;
    font-family: "OpenSans-Bold";
    font-size: 49px;    
}

.main-feed__elements {
    padding-bottom: 27px;
}

.main-feed__element-body {
    margin-bottom: 25px;
    padding-bottom: 27px;
    display: table;
    width: 880px;
    border-bottom: 2px solid #f5f5f5;
}
.main-feed__element-body:last-child {
    border-bottom: 0; 
    padding-bottom: 0;
}

.main-feed__body-photo {
    float: left;
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.main-feed__body-review {
    float: left;
    margin-left: 20px;
    width: 700px;
    line-height: 21pt;
}

.main-feed__review-date {
    position: relative;
    bottom: 10px;
    font-size: 14px;
    line-height: 31px;
}

.main-feed__review-name {
    position: relative;
    bottom: 10px;
    font-family: "OpenSans-Bold";
    font-size: 18px;
    line-height: 21px;
}

.main-feed__review-text {
    font-size: 18px;
    line-height: 30px;
}
/* ----------Feed close---------- */

/* ----------Pages---------- */
.main-feed__pages {
    position: relative;
    right: 36px;
    bottom: 10px;
    text-align: center;
}

.main-feed__pages-text,
.main-feed__pages-list,
.main-feed__pages-item {
    display: inline-block;
}

.zero-size {
    font-size: 0;
}
.zero-size__li {
    font-size: 16px;
}

.main-feed__pages-link,
.main-feed__pages-link_prev,
.main-feed__pages-link_next {
    display: block;
    width: 25px;
    height: 25px;
}

.main-feed__pages-link {
    font-family: "OpenSans-Bold";
    font-size: 14px;
    color: #131415;
}
.main-feed__pages-link:hover {
    background: #131415;
    color: #f89513;
    border-radius: 5px;
}

.main-feed__pages-link_prev {
    background: url(../../img/icons/prev-but.png) no-repeat center;
    text-indent: -99999px;
}
.main-feed__pages-link_prev:hover {
    background: url(../../img/icons/prev-but-hover.png) no-repeat center;
}

.main-feed__pages-link_next {
    background: url(../../img/icons/next-but.png) no-repeat center;
    text-indent: -99999px;
}

.main-feed__pages-link_next:hover {
    background: url(../../img/icons/next-but-hover.png) no-repeat center;
}
.main-feed__pages-text {
    vertical-align: middle;
    font-size: 14px;
}
/* ----------Pages close---------- */

/* ----------Add form---------- */
.main-addfeed {
    margin: 60px 0 57px 0;
    padding: 50px 70px;
    width: 700px;
    min-height: 427px;
    background: #f5f5f5;
}

.main-addfeed__caption {
    position: relative;
    bottom: 15px;
    font-family: "OpenSans-Bold";
    font-size: 49px;
}

.main-addfeed__form {
    position: relative;
    bottom: 12px;
}
.main-addfeed__label,
.main-addfeed__select-caption {
    display: table;
    font-size: 14px;
    font-weight: 300px; 
}
.main-addfeed__name {
    margin-top: 5px;
    float: left;
}

.main-addfeed__link {
    margin-top: 5px;
    float: right;
}
.main-addfeed__input {
    margin-top: 5px;
    padding: 10px; 
    width: 270px;
    height: 45px;
    outline: none;
    border: 2px solid transparent;
}

.main-addfeed__review {
    margin-top: 15px;
    display: inline-block;
}

.main-addfeed__text {
    margin-top: 6px;
    padding: 10px;
    width: 560px;
    height: 90px;
    resize: none;
    outline: none;
    border: 2px solid transparent;
}

.main-addfeed__input:focus,
.main-addfeed__text:focus {
    border-color: #f89513;
    border-radius: 3px; 
}

.main-addfeed__input::-webkit-input-placeholder {
    color: #c2c1c1;
}

.main-addfeed__select {
    margin-top: 10px;
    float: left;
    height: 50px;
}

.main-addfeed__value {
    display: none;
}

.main-addfeed__label-value {
    margin: 4px 0 0 10px;
    display: inline-block;
    cursor: pointer;
}

.main-addfeed__label-value:nth-child(3) {
    margin: 0;
}

#add__yes:checked + .main-addfeed__label-value,
#add__no:checked + .main-addfeed__label-value {
    color: #f89513;
}

.main-addfeed__label-value:before {
    position: relative;
    top: 4px;
    margin-right: 5px;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #cacaca;
    border-radius: 50%;
    background: linear-gradient(to bottom, #fefefe 0%,#efefef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.main-addfeed__label-value:before {
    padding-right: 0;
}

.main-addfeed__value:checked + .main-addfeed__label-value:before {
    border: 1px solid #f89513;
}

.main-addfeed__value:checked + .main-addfeed__label-value::after {
    content: "";
    position: relative;
    left: 7px;
    bottom: 16px;
    display: block;
    width: 8px;
    height: 8px;
    background: #f89513 no-repeat;
    border-radius: 50%;
}

.main-addfeed__submit {
    margin-top: 15px;
    float: right;
    display: block;
    height: 45px;
    width: 126px;
    font-family: "OpenSans-Bold";
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    border: none;
    outline: none;
    border-radius: 3px;
    background: #1c1f1d
}
/* ----------Add form close---------- */