/* General */
.intro {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url(../../img/jpg/intro-bg.jpg) no-repeat center;
    background-size: cover;
}
.intro::before {
    position: absolute;
    content: '';
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.content {
    position: relative;
    top: 170px;
    text-align: center;
}
/* General close */

/* Logotype */
.logo  {
    margin: 0px auto;
    padding-bottom: 40px;
    width: 160px;
    height: 193px;
}
/* Logotype close */

/* Link Buttom */
.link {
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    background: #f89513;
}
.link:hover {
    background: #131415;
}
.link__bottom  {
    padding: 20px 21px 12px 21px;
    display: inline-block;
    font-family: "OpenSans-Bold";
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
    color: white;
}
/* Link buttom close */