/* ----------Global style---------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "OpenSans-Light";
    font-weight: 300;
    line-height: 1.42;
    height: 100%;
    width: 100%;
    min-width: 1200px;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

:-ms-input-placeholder {
    font-size: 14px;
    color: #221f1f;
}

.wrapper {
    position: relative;
    padding-bottom: 90px;
    min-height: 1000px;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    width: 1100px;
}

.clearfix, .clearfix::after, .clearfix::before {
    display: block;
    content: "";
}

.clearfix::after {
    clear: both;
}

/* ----------Global style close---------- */

/* ----------Header---------- */
.header {
    height: 76px;
    background-color: #191919;
}

.header-left {
    float: left;
    padding-top: 29px;
}

.logo {
    display: inline-block;
    text-transform: uppercase;
    font-family: "Gora-Free";
    font-size: 18px;
    letter-spacing: 1px;
    color: #f89513;
}

.header-right {
    float: right;
    padding-top: 15px;
}

.contacts {
    position: relative;
}

.contacts__phone {
    display: block;
    font-family: "OpenSans-Bold";
    font-size: 21px;
    color: white;
}

.contacts__popup {
    position: relative;
    float: right;
    bottom: 4px;
    display: inline-block;
}

.contacts__popup:hover > .contacts__popup-block {
    visibility: visible;
    right: 0px;
}
.contacts__popup:hover > .contacts__popup-link {
    color: rgba(248, 149, 19, 0.9);
}

.contacts__popup-link {
    position: relative;
    top: 2px;
    right: 2px;
    float: right;
    text-decoration: underline;
    font-family: "OpenSans-Bold";
    font-size: 14px;
    color: rgba(248, 149, 19, 1);
}
.contacts__popup-link:hover {
    color: rgba(248, 149, 19, 0.9);
}
.contacts__popup-block {
    position: absolute;
    top: 40px;
    visibility: hidden;
    z-index: 40;
    width: 163px;
    height: 70px;
    background: linear-gradient(to top, #fff 0%, #fff 100%);
    box-shadow: 0 0 10px black;
    border-radius: 5px;
}

.contacts__popup-block:before {
   content: "";
   position: relative;
   float: right;
   bottom: 5px;
   right: 3.5px;
   width: 16px;
   height: 16px;
    border-radius: 1px;
    background: white;
    transform: rotate(-45deg);
}

.contacts__popup-block:after {
    content: "";
    z-index: 10;
    display: block;
    width: 100%;
    height: 30px;
    position: absolute;
    left: 0;
    right: 0;
    top: -22px;
}

.contacts__popup-chedule,
.contacts__popup-eat{
    margin-left: 20px;
    font-size: 14px;
    line-height: 18px;
}

.contacts__popup-chedule {
    margin-top: 12px;
    border-bottom: 5px; 
}

.contacts__popup-chedule {
    padding-bottom: 5px;
    font-family: "OpenSans-Bold";
    color: #f89513;
}

/* ----------Header close---------- */

/* ----------Aside---------- */
.sidebar {
    float: left;
    width: 180px;
}
.navigation {
    padding-top: 43px;
}
.navigation__list-item {
    margin-bottom: 27px;
}

.navigation__list-item:last-child {
    margin: 0;
}

.navigation__list-link {
    position: relative;
    padding-left: 35px;
    font-family: "OpenSans-Bold";
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #f89513;
}
.navigation__list-home_active,
.navigation__list-services_active,
.navigation__list-feed_active,
.navigation__list-link:hover {
    color: #191919;
}
.navigation__list-link::before {
    content: "";
    position: absolute;
    left: 0;
    background: url(../../img/icons/nav_menu_sprite.png) no-repeat;
}
.navigation__list-home:before {
    top: 1px;
    width: 19px;
    height: 14px;
    background-position: -10px -10px;
}
.navigation__list-home_active:before {
    background-position: -49px -10px;
}
.navigation__list-home:hover:before {
    background-position: -49px -10px;
}
.navigation__list-services:before {
    top: 1px;
    width: 19px;
    height: 14px;
    background-position: -88px -10px;
}
.navigation__list-services_active:before {
    background-position: -127px -10px;
}
.navigation__list-services:hover:before {
    background-position: -127px -10px;
}
.navigation__list-feed:before {
    width: 21px;
    height: 19px;
    background-position: -166px -10px;
}
.navigation__list-feed_active:before {
    background-position: -207px -10px;
}
.navigation__list-feed:hover:before {
    background-position: -207px -10px;
}
/* ----------Aside close---------- */

/* ----------Main---------- */
.main {
    float: right;
    width: 880px;
}

.main-nav {
    padding-top: 41px;
    font-family: "OpenSansLight-Italic";
    font-size: 14px;
}
.main-nav__link_disable {
    text-decoration: underline;
    color: #f89513;
}
.main-nav__link_enable {
    color: #191919;
}
/* ----------Main close---------- */

/* ----------Footer---------- */
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    min-height: 76px;
    background-color: #191919
}


.footer-logo,
.footer-left {
    float: left;
}

.footer-left {
    padding: 10px 10px 0 0;
    width: 260px;
    height: 100%;
    font-size: 14px;
    color: white;
}

.footer-logo {
    padding-top: 28px;
    margin-left: 200px;
}

.footer-right {
    padding-top: 16px;
    float: right;
}

.footer-left__link {
    text-decoration: underline;
    font-family: "OpenSans-Bold";
    color: white;
}

.footer-left__name {
    font-family: "OpenSans-Bold";
    color: white;
}

.footer-right__caption {
    margin-bottom: 5px;
    display: inline-block;
    font-family: "OpenSans-Bold";
    font-size: 14px;
    color: white;
}
.socials__item {
    margin-left: 5px;
    display: inline-block;
}

.socials__item:nth-child(1) {
    margin: 0;
}

.socials__link {
    display: block;
    width: 20px;
    height: 20px;
    background: url(../../img/icons/socials_sprite.png) no-repeat;
    opacity: 0.8;
}
.socials__link_vk {
    opacity: 1;
    background-position: -10px -10px;
}
.socials__link_vk:hover {
    background-position: -50px -10px;
}
.socials__link_facebook {
    background-position: -90px -10px;
}
.socials__link_facebook:hover {
    background-position: -130px -10px;
}
.socials__link_google {
    background-position: -170px -10px;
}
.socials__link_google:hover {
    background-position: -210px -10px;
}
.socials__link_twitter {
    background-position: -250px -10px;
}
.socials__link_twitter:hover {
    background-position: -290px -10px;
}
.socials__link_mail {
    background-position: -330px -10px;
}
.socials__link_mail:hover {
    background-position: -370px -10px;
}
/* ----------Footer close---------- */
